body {
    background-image: url("bg.png");
    background-attachment: fixed;
}

.Weihnachstkarte {
    background-image: url("wrapperbg.png");
    background-repeat: no-repeat;
    display: block;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -300px;
    z-index: -1;

}

.Weihnachtskarteninhalt {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 7%;
    width: 500px;
    height: 300px;

}

#Ueberschrift {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bolder;
}

.blatt {
    width: 222px;
    height: 179px;
    position: absolute;
    bottom: 290px;
    left: -50px;
}

.pinguin {
    width: 144px;
    height: 193px;
    position: absolute;
    left: 488px;
    bottom: -15px;

}









